<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587126562561-upmd7132dq7iortlil78h0nie3ph5p9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587126562561-upmd7132dq7iortlil78h0nie3ph5p9m</string>
	<key>API_KEY</key>
	<string>AIzaSyAHgz-SPzZy5HDCAK3JKwF3mXRnBnzK5co</string>
	<key>GCM_SENDER_ID</key>
	<string>587126562561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sergio.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-sergio</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-sergio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587126562561:ios:bbb4268fd339f47fab0500</string>
</dict>
</plist>